form {
    margin: 0;
    padding: 0;
}

._585- ._4w98 {
    background: #f6f7f9;
    border: none;
    border-radius: 0 2px 2px 0;
    bottom: 0;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 0 16px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 1;
}

._4jy3, ._4jy3._42fr:active, ._4jy3._42fr._42fs {
    line-height: 22px;
}

._517h, ._59pe:focus, ._59pe:hover {
    background-color: #f6f7f9;
    border-color: #ced0d4;
    color: #4b4f56;
}

._4jy0 {
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}

._4jy0 {
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
}

._42ft {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}

button {
    margin: 0;
}

._4jy0:before {
    content: '';
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}

._585- ._4w98 ._585_ {
    background-origin: content-box;
    display: inline-block;
    margin: -1px;
    padding: 1px;
    position: relative;
    right: 0;
    top: -1px;
    vertical-align: middle;
}

._585_ {
    background-image: url(/rsrc.php/v3/yr/r/OsPbsO754vF.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -975px;
    cursor: pointer;
    display: block;
    height: 14px;
    position: absolute;
    right: 6px;
    top: 4px;
    width: 14px;
    z-index: 2;
}

._585- ._5860, ._585- ._5860 .wrap {
    background: transparent;
    border: none;
    height: 23px;
}

._585- ._5860, ._585- ._5861 {
    height: 25px;
}

.uiTypeahead {
    background: #fff;
    border: solid #bdc7d8;
    border-width: 1px 0;
    cursor: default;
    position: relative;
}

._585- ._5860, ._585- ._5860 .wrap {
    background: transparent;
    border: none;
    height: 23px;
}

.uiTypeahead .wrap {
    border: solid #bdc7d8;
    border-width: 0 1px;
}

body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.uiTypeahead .innerWrap {
    overflow: hidden;
    zoom: 1;
}

.uiTypeahead .textInput {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    width: 100%;
}

._585- ._5861 {
    background: none;
    color: #333;
    cursor: text;
    height: 23px;
    overflow: hidden;
    padding: 0;
    text-indent: 2px;
    width: inherit;
}

._585- ._5861, ._5861 ._586f, ._5861 ._1frb, ._5861 ._5eay {
    border: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-overflow: ellipsis;
}

._585- ._5860, ._585- ._5861 {
    height: 25px;
}

._5eaz {
    position: relative;
}

._5861 ._586h, ._5861 ._5eay {
    color: #90949c;
}

._5861 ._5eay, ._5861 ._1frb {
    height: 23px;
    padding-top: 0;
}

._5861 ._586j, ._5861 ._586k, ._5861 ._586f, ._5861 ._586i, ._5861 ._5eay, ._5861 ._1frb {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 18px;
    line-height: 22px;
    padding: 3px 0 0;
    text-shadow: none;
}

._585- ._5861, ._5861 ._586f, ._5861 ._1frb, ._5861 ._5eay {
    border: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-overflow: ellipsis;
}

._5eay {
    left: 2px;
    position: absolute;
    top: 0;
    z-index: 0;
}

._1frb, ._5eay {
    background: 0;
    border: 0;
    box-sizing: border-box;
    outline: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    width: 100%;
    z-index: 1;
}

._5861 ._586f, ._5861 ._586i, ._5861 ._1frb {
    color: #1d2129;
}

._5861 ._586f, ._5861 ._1frb {
    padding-left: 0;
    padding-right: 5px;
}

._5861 ._5eay, ._5861 ._1frb {
    height: 23px;
    padding-top: 0;
}

._5861 ._586j, ._5861 ._586k, ._5861 ._586f, ._5861 ._586i, ._5861 ._5eay, ._5861 ._1frb {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 18px;
    line-height: 22px;
    padding: 3px 0 0;
    text-shadow: none;
}

._585- ._5861, ._5861 ._586f, ._5861 ._1frb, ._5861 ._5eay {
    border: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-overflow: ellipsis;
}

._1frb, ._5eay {
    background: 0;
    border: 0;
    box-sizing: border-box;
    outline: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    width: 100%;
    z-index: 1;
}