._5aj7 ._4bl9 {
    flex: 1 0 0px;
}

._3_s0 ._3bcp {
    overflow: visible;
}

._4bl9 {
    overflow: hidden;
}

._4bl7, ._4bl9 {
    word-wrap: break-word;
}

._3_s0 ._608n {
    display: flex;
}

._6a {
    display: inline-block;
}

._3bcs {
    flex: 1 0 0px;
}