._5aj7 ._4bl7 {
    float: none;
}

._4bl7, ._4bl9 {
    word-wrap: break-word;
}

._3_s0 ._3bcv {
    font: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
}

._50f3 {
    font-size: 14px;
    line-height: 16px;
}

.mrm {
    margin-right: 10px;
}