._6a {
    display: inline-block;
}

.mrm {
    margin-right: 10px;
}

._2agf._4o_4 {
    display: inline-flex;
}

._3_s1 ._3_s2 {
    background: #29487d;
    border-color: #29487d;
}

a._p {
    display: block;
}

._4jy3, ._4jy3._42fr:active, ._4jy3._42fr._42fs {
    line-height: 22px;
}

._4jy1 {
    background-color: #4267b2;
    border-color: #4267b2;
}

._4jy1, ._4jy2 {
    color: #fff;
}

._4jy0 {
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}

._4jy0 {
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
}

._2agf {
    word-wrap: normal;
}

._42ft {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}

a {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
}

._4jy0:before {
    content: '';
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}

._55pe {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}

._3-99 {
    margin-left: 4px;
}

.selected .sp_Lda9yxacsCe.sx_b8e51c {
    background-position: -91px -60px;
}

.sp_Lda9yxacsCe.sx_b8e51c {
    width: 9px;
    height: 8px;
    background-position: -100px -60px;
}

._4jy0 .img {
    bottom: 1px;
    position: relative;
    vertical-align: middle;
}

i.img {
    -ms-high-contrast-adjust: none;
}

.sp_Lda9yxacsCe {
    background-image: url(/rsrc.php/v3/ye/r/yIaFAbfUkOi.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 13px;
    width: 13px;
}